{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
{% import "user_profile/macros.html" as user_profile_macros %}
<!-- user_stats.html -->
{% block profilesection %}
    {% trans %}overview{% endtrans %}
{% endblock %}
{% block usercontent %}
    {% include "user_profile/user_info.html" %}
    {% if question_count %}
        <a name="questions"></a>
        <h3>{{ question_count }} question{{ question_count|pluralize }}</h3>
        {% include "user_profile/users_questions.html" %}
    {% endif %}

    {% if top_answer_count %}
        <a name="answers"></a>
        <h3 class="answers-heading">{{ top_answer_count }} answer{{ top_answer_count|pluralize }}</h3>
        {% include "user_profile/users_answers.html" %}
    {% endif %}

    {% if total_votes %}
        <a name="votes"></a>
        <h3>{{ total_votes }} vote{{ total_votes|pluralize }}</h3>
        <div class="user-stats-table">
            <div class="users-questions">
                <div class="counts">
                    <div class="votes some-votes">
                        <span class="item-count">{{ up_votes }}</span>
                    </div>
                    <div class="votes-down some-votes">
                        <span class="item-count">{{ down_votes }}</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>
    {% endif %}

    {% if user_tags %}
        <a name="tags"></a>
        <h3>{{ user_tags|length }} tag{{ user_tags|length|pluralize }}</h3>
        <div class="user-stats-table">
            {% with tag_list = user_tags|map(attribute='name') %}
                {{
                    macros.tag_list_widget(
                        tags = tag_list,
                        id = 'user-tag-list',
                        search_state = search_state,
                        css_class = 'post-tags tags',
                        tag_css_class = 'post-tag'
                    )
                }}
            {% endwith %}
        </div>
    {% endif %}


    {% if interesting_tag_names %}
        {{ user_profile_macros.tag_selection(interesting_tag_names, 'interesting') }}
    {% endif %}
    {% if ignored_tag_names %}
        {{ user_profile_macros.tag_selection(ignored_tag_names, 'ignored') }}
    {% endif %}
    {% if subscribed_tag_names %}
        {{ user_profile_macros.tag_selection(subscribed_tag_names, 'subscribed') }}
    {% endif %}
{% endblock %}
{% block endjs %}
    {{ super() }}
    <script type="text/javascript">
        askbot['urls']['join_or_leave_group'] = '{{ url('join_or_leave_group') }}';
        $(document).ready(function(){
            setup_badge_details_toggle();
            $.each($('.group-join-btn'), function(idx, elem){
                var group_join_btn = new GroupJoinButton();
                group_join_btn.decorate($(elem));
            });
        });
    </script>
    {% compress js %}
    <script type='text/javascript' src='{{ "/js/tag_selector.js"|media }}'></script>
    {% endcompress %}
{% endblock %}
<!-- end user_stats.html -->
