<!-- user_info.html -->
{% import "macros.html" as macros %}
{% if show_moderation_warning %}
<div class="user-memo">
    {% trans %}Note: the homepage link and the about section won't be shown to other users until your profile is approved by the moderators.{% endtrans %}
</div>
{% endif %}
<div class="user-info-table">
    <div class="col1">
        <div class="avatar">
            {{ macros.gravatar(view_user, 176) }}
            {% if request.user == view_user %}
                <p><a href="{% url edit_user view_user.id %}">
                    {% trans %}change picture{% endtrans %}
                </a></p>
            {% endif %}
        </div>
    </div>
    <div class="col2 user-profile-overview">
        {% if can_show_karma %}
            <h4>{{view_user.reputation|intcomma}} treat{{ view_user.reputation|pluralize }}</h4>
        {% endif %}

        <p><strong>member since</strong> {{ macros.timeago(view_user.date_joined) }}</p>
        <p><strong>last seen</strong> {{ macros.timeago(view_user.last_seen) }}</p>
        <p><strong>today&apos;s unused votes</strong> {{ votes_today_left }} votes left</p>

        {% if user_follow_feature_on and request.user != view_user %}
            {# User follow button #}
            {% if request.user.is_authenticated %}
                {% set is_following = request.user.is_following(view_user) %}
            {% else %}
                {% set is_following = False %}
            {% endif %}
            <div class="follow-button">
                <button class="js-follow-user button large"
                    data-is-on="{{ is_following|as_js_bool }}"
                    data-min-lines="10"
                    data-off-prompt-text="{% trans %}Unfollow {{ alias }}{% endtrans %}"
                    data-on-prompt-text="{% trans %}Follow {{ alias }}{% endtrans %}"
                    data-on-state-text="{% trans %}Following {{ alias }}{% endtrans %}"
                    data-off-state-text="{% trans %}Follow {{ alias }}{% endtrans %}"
                    data-toggle-url="{{ url('toggle_follow_object', model_name='user', object_id=view_user.id) }}"
                >
                    {% if is_following %}
                        {% trans %}following{% endtrans %}
                    {% else %}
                        {% trans %}follow{% endtrans %}
                    {% endif %}
                </button>
            </div>
        {% endif %}
    </div>
</div>
<!-- end user_info.html -->
