.img-circle-with-border {
    @extend .img-circle;
    border: 4px solid $aqua;
}

.img-responsive {
    @include img-responsive();
}

.rover-thumbnail {
    @extend .thumbnail;
    border-radius: 0;
    padding: 0;
}
