<div class="sidebar-content-block">
    <h6>{% trans %}Markdown Basics{% endtrans %}</h6>
    {% if settings.MARKUP_CODE_FRIENDLY or settings.ENABLE_MATHJAX %}
    <p>
        {% trans %}*itapc*{% endtrans %}
    </p>
    <p>
        {% trans %}**bold**{% endtrans %}
    </p>
    {% else %}
    <p>
        {% trans %}*itapc* or _itapc_{% endtrans %}
    </p>
    <p>
        {% trans %}**bold** or __bold__{% endtrans %}
    </p>
    {% endif %}
    <p>
        <b>{% trans %}link{% endtrans %}</b>:[{% trans %}text{% endtrans %}](http://example.com/ "{% trans %}title{% endtrans %}")

    </p>
    <p>
        <b>{% trans %}image{% endtrans %}</b>:![alt {% trans %}text{% endtrans %}](/path/img.jpg "{% trans %}title{% endtrans %}")

    </p>
    <p>
    {% trans %}basic HTML tags are also supported{% endtrans %}
    </p>
</div>
<!-- end template answer_edit_tips.html -->
