{% set need_scope_links = (
            settings.ALL_SCOPE_ENABLED|to_int +
            settings.UNANSWERED_SCOPE_ENABLED|to_int +
            (request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED)|to_int
            > 1
        )
%}
<div id="scopeNav">
{% if need_scope_links %}
    {% if active_tab != "ask" %}
        {% if not search_state %}  {#  get empty SearchState() if there's none #}
            {% set search_state=search_state|get_empty_search_state %}
        {% endif %}
        <a class="scope-selector{% if 'dogs' in search_tags %} on{% endif %}" href="{{ search_state.add_tag('dogs').full_url() }}">Dog Questions</a>
        <a class="scope-selector{% if 'sitter' in search_tags %} on{% endif %}" href="{{ search_state.add_tag('sitter').full_url() }}">Sitter-to-Sitter</a>
        <a class="scope-selector{% if 'support' in search_tags %} on{% endif %}" href="{{ search_state.add_tag('support').full_url() }}">Using Rover</a>
    {% else %}
    <a class="scope-selector on" href="#">{{ settings.WORDS_PLEASE_ASK_YOUR_QUESTION_HERE|escape }}</a>
    {% endif %}
{% endif %}
</div>
