<div class="form-item question-tags form-group">
    {% if settings.TAG_SOURCE == 'category-tree' %}
        {% include "widgets/three_column_category_selector.html" %}
        <div class="tags-desc">tags</div>
        {% include "widgets/tag_editor.html" %}
    {% else %}
        <div class="form-group">
            <label for="id_tags" class="tag-form-label">
                <div class="label-header">Add some tags</div>
                <p class="label-help-text small-text">
                    Tags help others find answers to the same
                    questions. For example, if your question is about
                    puppy chewing shoes, you would put "puppy chewing
                    behavior". Up to 10 tags can be used.
                </p>
            </label>
            <span class="form-error">{{ form.tags.errors }}</span>
            {{ form.tags }}
        </div>
    {% endif %}
</div>
