{% import "macros.html" as macros %}
{#
    thumbnail for the user - shown on the users listings
    and elsewhere
#}
<div class="user-card">
    {{ macros.gravatar(user, 46) }}
    <div class="user-info">
        <div class="user-link-container">
            <a class="user-link" href="{{ user.get_profile_url() }}">
                <div>{{ user.display_name|escape }}</div>
                {% if karma_mode == 'public' %}
                    <div>
                        {{ user.reputation }} {{ ngettext(settings.WORDS_KARMA_SINGULAR, settings.WORDS_KARMA_PLURAL, user.reputation)|lower }}
                    </div>
                {% endif %}
            </a>
        </div>
    </div>
</div>
