{% extends "two_column_body.html" %}
<!-- user.html -->
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block meta_addl %}
    <meta name="robots" content="noindex, follow" />
{% endblock %}
{% block forestyle %}
<style type="text/css">
    .history-table td { padding: 5px; }
</style>
{% endblock %}
{% block content %}
    <h3 class="section-title">
        {% spaceless %}
        {% trans username=view_user.get_full_name()|escape %}{{username}}'s profile{% endtrans %}
        {% endspaceless %}
    </h3>
    {% include "user_profile/user_tabs.html" %}
    <div>
        {% block usercontent %}
        {% endblock %}
    </div>
{% endblock %}<!-- end user.html -->
{% block endjs %}
    <script type="text/javascript">
        var viewUserID = {{view_user.id}};
        askbot['data']['viewUserName'] = '{{ view_user.get_full_name()|escape }}';
        askbot['data']['viewUserId'] = {{ view_user.id }};
        askbot['urls']['edit_group_membership'] = '{% url edit_group_membership %}';
        askbot['urls']['getGroupsList'] = '{% url get_groups_list %}';
        askbot['urls']['getTopAnswers'] = '{% url get_top_answers %}';
    </script>
    {% if request.user|can_moderate_user(view_user) %}
        <script type='text/javascript' src='{{"/js/jquery.form.js"|media}}'></script>
    {% endif %}
    <script type="text/javascript" src='{{"/js/user.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
    <script type="text/javascript" src='{{"/js/post.js"|media}}'></script>
    {% block userjs %}
    {% endblock %}
{% endblock %}
{% block sidebar %}
    <div class="sidebar-content-block book-on-rover-sidebar">
        <h6 class="landing-message-header">Book With Rover</h6>
        <p class="landing-message">Premier pet insurance</p>
        <p class="landing-message">Our reservation guarantee</p>
        <p class="landing-message padding-bottom-x2">24/7 customer support</p>
        {% set active_services = view_user.person.get_active_services() %}
        {% if active_services %}
            <a class="rover-btn rover-btn-primary btn-block" href="{{ view_user.person.get_absolute_url() }}">
                Book a Stay with <br>{{ view_user.get_full_name()|escape }}
            </a>
        {% else %}
            <a class="rover-btn rover-btn-primary btn-block" href="{% url 'index' %}">
                Book a Stay on Rover
            </a>
        {% endif %}
    </div>
{% endblock %}
<!-- end of user.html -->
