@import "compass";

$navbar-color: #f3f3f3;
$navbar-default-link-color: #666;
$navbar-default-color: #666;

$border-color: #ccc;

// Primary Colors
$green: #4ba14e;
$green-light: #77c045;
$rover-green: $green-light;

$aqua: #14a4be;
$aqua-light: #45cddb;

$orange: #f37a21;
$orange-light: #ef881a;

// Background Colors
$grey: #e0e0e0;
$grey-light: #f5f5f5;

// Alert Colors
$warning-color: #fdf4aa;
$validation-color: #ff5353;

// Button Colors
$aqua-btn-bg: #2bb7cd;
$aqua-btn-bg-highlight: #019DB9;
$green-btn-bg: #89cc54;
$green-btn-bg-highlight: #68BB2F;

// New Brand Colors
$new-brand-green: #3dafc3;
$new-brand-dark-blue: #13426b;
$new-brand-orange: #e25829;

// Social Colors
$facebook-color: #3b5998;
$twitter-color: #55acee;
$pinterest-color: #c8232c;

$android-green: #88B131;
$android-bg-color: #3d3d3d;
