#questionCount {
    @extend .text-muted;
    font-size: 14px;
    font-weight: normal;
}

#question-list {
    .short-summary {
        h2 a {
            font-size: 18px;
            color: $gray;
        }
    }
}
