#questionCount {
    @extend .text-muted;
    font-size: 14px;
    font-weight: normal;
}

#question-list {
    .short-summary {
        h2 a {
            font-size: 18px;
            color: $gray;
        }

        .counts {
            margin-left: 30px;

            .votes, .answers, .views {
                min-width: 71px;
                width: auto;
                height: 45px;
                line-height: 43px;
                margin: 0 0 0 10px;
                padding: 0 5px 0 0;
                font-size: 18px;
                font-weight: bold;
                color: $gray-light;
                background: transparent;
                border: 1px solid #ccc;
                border-radius: $border-radius-base;
                text-align: left;

                div {
                    display: none;
                }

                &:before {
                    font-family: 'rover-icons';
                    font-weight: normal;
                    margin-left: 7px;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
            }

            .votes.no-votes, .answers.no-answers, .views.no-views {
                .item-count {
                    display: none;
                }

                &:after {
                    content: "0";
                }
            }

            .votes:before {
                content: "\e647";
            }

            .answers:before {
                content: "\e644";
            }

            .views:before {
                content: "\e648";
                margin-right: 0;
            }

            .userinfo {
                display: none;
            }
        }
    }
}

#listSearchTags {
    span, h1 {
        line-height: $line-height-base;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    h1 {
        margin-left: 4px;
    }
}
