.tags {
    max-width: 455px;

    .tag-left {
        box-shadow: none;

        .tag {
            color: $gray-light;
            background-color: $gray-lighter;
            border-radius: $border-radius-base * 2;
            padding: 0px 12px;
            border: none;
            outline: none !important;
        }
    }
}

abbr[title].timeago {
    border: none;
    font-weight: normal;
    cursor: auto;
}

.wmd-container {
    border: 2px solid $aqua;
    border-radius: $border-radius-base;

    textarea {
        margin: 2px;
    }
}

.avatar-box .gravatar {
    @extend .img-circle;
}

.tooltip.bottom {
    .tooltip-arrow {
        border-bottom-color: $gray-light;
    }

    .tooltip-inner {
        background-color: $gray-light;
    }
}

.tabBar {
    background: transparent;
    height: auto;

    .tabsA {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: $border-radius-base;
        font-size: 12px;
        height: auto;

        .label {
            color: $gray-light;
            line-height: 20px;
            font-size: 12px;
            margin: 4px 10px;
            padding: 0;
        }

        a {
            border-left: 1px solid #ccc;
            height: auto;
            color: $gray-light;
            padding: 4px 10px;
            margin: 0;

            &.on, &[classname="on"] {
                background-color: #ebedee;

                &:last-child {
                    // we subtract one to account for the border width
                    border-top-right-radius: $border-radius-base - 1;
                    border-bottom-right-radius: $border-radius-base - 1;
                }
            }
        }
    }
}
