.android-banner {
    background-color: $android-bg-color;
    border-top: 6px solid $android-green;
    color: white;
    display: none;
    height: 78px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .app-icon {
        @include box-shadow(rgba(150, 150, 150, 0.33) 0 1px 1px 1px);
        height: 56px;
        margin: 8px 0 0 16px;
    }

    .close {
        color: white;
    }

    .dismiss-android-banner {
        color: white;
        margin: 4px 0 0 4px;
    }

    .download-button {
        margin: 15px 40px 0 0;
    }
}

.android-banner-shown, &.android-banner-shown {
    padding-top: 78px;

    .navbar-fixed-top {
        top: 78px;
    }

    .android-banner {
        display: block;
    }
}
