.app {
    .hero {
        background: url('../images/stock/alternate_hero.jpg') no-repeat top center;
        @include lg-only {
            background-position: 50% -75px;
        }
        background-size: cover;
        display: block;
        height: 450px;
        text-align: center;
        width: 100%;
        @include not-xs {
            @include box-drop-shadow;
        }
        @include xs-only {
            background: none;
            height: auto;
        }
        .hero-overlay {
            @include border-radius(7px);
            background-color: rgba(0, 0, 0, .6);
            color: #fff;
            margin-top: 250px;
            @include lg-only {
                margin-top: 275px;
            }
            .send-to-phone {
                display: inline;
            }
            .send-to-phone-btn {
                margin: 10px;
            }
            .cancel {
                color: #fff;
            }
            .send-to-phone-phone-number {
                width: 175px;
            }
        }
        .alert {
            top: 35px;

        }
    }
    .app-examples {
        .ios-app-example {
            height: 425px;
            position: absolute;
            top: 65px;
            right: 155px;
        }
        .android-app-example {
            height: 450px;
            position: absolute;
            top: 50px;
            right: 10px;
        }
        @include sm-only {
            .ios-app-example {
                right: 85px;
            }
            .android-app-example {
                right: -35px;
            }
        }
    }
    .install-badge {
        padding-top: 50px;
        // Because the badges are different height/width ratios, I'm tweaking
        // the height by device size a bit to try to get balanced display
        // for each breakpoint. (Also why the height isn't defined in the HTML)
        .ios-install-badge {
            height: 70px;
        }
        .android-install-badge {
            height: 75px;
        }
        @include xs-only {
            .ios-install-badge {
                height: 65px;
            }
        }
    }
    .section {
        padding: 15px 0 30px 0;
    }
    .call-to-action-container-blue {
        background-color: #3daf2c;
        color: white;
    }
    .heading-circle {
        @include icon-heading-circle;
        &.heading-1 {
            background-color: $new-brand-green;
            border-color: $new-brand-green;
        }
        &.heading-2 {
            background-color: $new-brand-dark-blue;
            border-color: $new-brand-dark-blue;
        }
        &.heading-3 {
            background-color: $new-brand-orange;
            border-color: $new-brand-orange;
        }
        &.heading-4 {
            border-color: #fff;
            box-shadow: none;
            text-shadow: none;
        }
    }
}
