@import "compass";

html.new-design, body.new-design {
    height: 100%;
}

.new-design {
    @import "new_design/css/colors";
    @import "new_design/css/bootstrap_overrides";
    @import "new_design/vendor/bootstrap/scss/bootstrap";
    @import "new_design/css/mixins";
    @import "new_design/css/utilities/utilities";
    @import "new_design/css/headings";
    @import "new_design/css/forms";
    @import "new_design/css/lists";
    @import "new_design/css/popovers";
    @import "new_design/css/validation";
    @import "new_design/css/header_toolbar";
    @import "new_design/css/animations";
    @import "new_design/vendor/magnific-popup/magnific-popup";
    @import "new_design/css/modals";
    @import "new_design/css/sharing";
    @import "new_design/css/icons";
    @import "new_design/css/components/components";

    @import "new_design/css/photo_galleries";

    @import "new_design/css/homepage";
    @import "new_design/css/search";
    @import "new_design/css/app";
    @import "new_design/css/android_banner";
    @import "new_design/css/jquery_ui";
    @import "new_design/css/image_upload";

    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;

    header, .header, footer, .footer {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $text-color;
    }

    .header {
        .navbar-container {
            @include not-xs {
                padding: 0;
            }
        }
        .link-icon {
            margin-right: 4px;
        }
        .navbar-brand {
            padding: 5px 0 0 0;
            margin-right: 30px;
        }
        .navbar-toggle {
            background-color: $rover-green;
            &:hover, &:focus {
                background-color: darken($rover-green, 5%);
            }
            .icon-bar {
                background-color: white;
            }
        }
        .dropdown-with-avatar {
            padding-bottom: 11px;
            .avatar {
                height: 24px;
                width: 24px;
                border: 1px solid $border-color;
            }
        }
        // Bootstrap overrides for custom styling of the navbar
        .dropdown-menu > li > a {
            padding: 6px 14px;
            &:hover,
            &:focus {
                text-decoration: none;
                color: #FFF;
                background-color: $aqua-light;
                @include box-shadow(inset darken($aqua-light, 10%) 0 0 7px 0)
            }
        }
        .navbar-nav > .open > a {
            &,
            &:hover,
            &:focus {
                $open-padding: ($nav-link-padding - 1);
                padding-left: $open-padding;
                padding-right: $open-padding;
                z-index: 1001;
                border: 1px solid $border-color;
                border-width: 0 1px;
            }
        }
        .navbar-nav > li > .dropdown-menu {
            margin-top: -1px;
        }
        .nav .dropdown-toggle .caret {
            margin-top: 0;
        }
        &.navbar-default {
            border: 1px solid $border-color;
            border-right: 0px;
            border-left: 0px;
            @include box-drop-shadow;
            @include background-image(linear-gradient(#fcfcfc, #e4e4e4 70%, #f5f5f5));
        }

        .search-location-header-view {
            width: 180px;

            @include lg-only {
                margin-right: 10px;
                width: 250px;
            }
        }
    }

    @include xs-only {
        .navbar-brand {
            margin-left: 10px;
        }
    }

    .need-help-container {
        position: relative;
        .need-help-phone {
            position: absolute;
            top: 57px;
            right: 30px;
            color: black;
            @include text-shadow(1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 0 0 4px white);
            font-size: 13px;
            font-family: $font-family-base;
        }
    }

    .footer {
        padding: 20px 0;
        .footer-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .footer-twitter {
            margin-top: 10px;
        }
        .copyright {
            text-align: center;
            font-size: 11px;
        }
        .copyright-shadow-line {
            margin: 10px auto;
            width: 25%;
        }
        .xs-footer-links, .xs-footer-header {
            text-align: center;
        }
        .xs-footer-links {
            margin: 0;
            list-style: none;
            padding: 0;
            .xs-footer-link {
                padding-bottom: 10px;
            }
        }
        .xs-join-pack-heading {
            text-align: center;
        }
        .tiny-heading {
            font-family: $font-family-base;
        }
    }

    .flag-listing {
        color: $state-danger-text;
        &:hover, &:active {
            color: $state-danger-text;
        }
    }

    .shadow-line {
        height: 1px;
        @include background(linear-gradient(left, rgba(0,0,0,0) rgba(0,0,0,0.5) rgba(0,0,0,0)));
    }

    .rounded-section {
        border: 1px solid $border-color;
        border-radius: 6px;
        overflow: hidden;
    }

    .SnapABug_Button {
        @include xs-only {
            display: none !important;
        }
    }

    /* Override jQuery UI accordion font selection */
    .ui-widget-content {
        input, select, textarea, button {
            font-family: $font-family-base;
        }
    }
}

// For pages that haven't yet extended new_design/base.html
.non-responsive {

    @import "new_design/css/colors";
    @import "new_design/vendor/magnific-popup/magnific-popup";
    @import "new_design/vendor/bootstrap/scss/variables";
    @import "new_design/css/mixins";
    @import "new_design/css/components/datepicker";
    @import "new_design/css/photo_galleries";
    @import "new_design/css/modals";
    @import "new_design/css/android_banner";
    @import "new_design/css/jquery_ui";


    &.toolbar-displayed .header-toolbar-wrapper {
        position: relative !important;
    }

    padding-bottom: 20px;
    min-width: 970px;

    &.fluid {
        min-width: 0;
        padding-bottom: 0;
    }

    .visible-xs {
        display: none !important;
    }

    .visible-sm, .visible-md, .visible-lg {
        display: block !important;
    }

    .navbar-fixed-top {
        position: relative;
    }

    .need-help-container {
        margin-bottom: 32px;
    }

    #contentdiv {
        padding-top: 0px;
    }

    // Fix old design modal shadow z-index
    $modal-old-z: 1050;
    .modal {
        z-index: $modal-old-z;
        display: none;
    }

    .modal-backdrop {
        z-index: $modal-old-z - 1;
    }

    .new-design {
        a {
            @include single-transition(all, 0s);
        }

        .navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
            content: none;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
            background-image: none;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
        }

        /* Finesse the page header spacing */
        .page-header {
            margin-bottom: 30px;
        }

        .page-header .lead {
            margin-bottom: 10px;
        }

        .need-help-phone {
            top: 0;
        }

        /* Non-responsive overrides
         *
         * Utilitze the following CSS to disable the responsive-ness of the container,
         * grid system, and navbar.
         */

        /* Reset the container */
        .container, &.container {
            max-width: none !important;
            width: 970px;
        }

        .container .navbar-header,
        .container .navbar-collapse {
            margin-right: 0;
            margin-left: 0;
        }

        /* Always float the navbar header */
        .navbar-header {
            float: left;
        }

        /* Undo the collapsing navbar */
        .navbar-collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
            position: static;
        }

        .navbar-toggle {
            display: none;
        }

        .navbar-collapse {
            border-top: 0;
        }

        /* Always apply the floated nav */
        .navbar-nav {
            float: left;
            margin: 0;
        }

        .navbar-nav > li {
            float: left;
        }

        /* Redeclare since we override the float above */
        .navbar-nav.navbar-right {
            float: right;
        }

        // Fix the bootstrap 2 alert styling
        .alert {
            text-shadow: none;
            .close {
                position: static;
                margin: 0;
            }
        }
    }
}
