{% import "macros.html" as macros %}

<div class="sidebar-content-block">
    <h6 class="landing-message-header">How It Works</h6>
    <p class="landing-message">Welcome to the Rover Q&amp;A Community! We’re building connections between dog lovers, and creating a space for support and camaraderie.</p>
    <p class="landing-message">So feel free to take a look around, ask a question, or help others with your expertise. Our guidelines are simple: <strong>Be nice, be helpful, and celebrate our mutual love of dogs.</strong></p>
</div>

<div class="sidebar-content-block">
    {% if contributors and settings.SIDEBAR_MAIN_SHOW_AVATARS %}
        {% include "widgets/contributors.html" %}
    {% endif %}
</div>

{% if settings.TAG_SEARCH_INPUT_ENABLED %}
    {% include "main_page/tag_search.html" %}
{% endif %}

{% if request.user.is_authenticated() and settings.SIDEBAR_MAIN_SHOW_TAG_SELECTOR %} 
    {% include "widgets/tag_selector.html" %}
{% endif %}

<div class="sidebar-content-block">
    {% if tags and settings.SIDEBAR_MAIN_SHOW_TAGS %}
        {% include "widgets/related_tags.html" %}
    {% endif %}
</div>

{% if 'SIDEBAR_MAIN_FOOTER'|show_block_to(request.user) %}
<div class="box">
    {{ settings.SIDEBAR_MAIN_FOOTER }}
</div>
{% endif %}
