.popover-title {
    font-size: 16px;
}

.popover-list {
    font-size: 12px;
    margin: 0 0 16px 20px;
    padding: 0;
}

.popover-extra {
    font-size: 11px;
    text-align: center;
}

.popover-tiny-copy {
    font-size: 10px;
}
