@mixin text-center-size($size) {
    .text-center-#{$size} {
        text-align: center;
    }
}

@include xs-only {
    @include text-center-size('xs');
}

@include sm-only {
    @include text-center-size('sm');
}

@include md-only {
    @include text-center-size('md');
}

@include lg-only {
    @include text-center-size('lg');
}

.fineprint {
    line-height: 80%;
}

.big-text {
    font-size: 120%;
}

.small-text {
    font-size: 12px;
    line-height: normal;
}

.text-orange {
    color: $orange;
}

.text-aqua {
    color: $aqua;
}

.text-gray-light{
    color: $gray-light;
}
