/* ==========================================================================
 * A list of steps in a process
 * @see - http://rover.com/styleguide/
 * ========================================================================== */

.rover-process-steps {
    list-style: none;
    padding: 0;
    position: relative;
    counter-reset: rover-process-steps;
    padding: 10px 0 0 5px;

    .rover-process-step {
        position: relative;
        padding: 0 0 30px 40px;

        .rover-process-step-title {
            line-height: normal;
            margin: -7px 0 5px 0;

            &:hover {
                text-decoration: none;
            }
        }

        .rover-process-step-desc {
            color: $text-muted;
            font-size: $font-size-base;
            line-height: normal;
        }

        // Setup for styled step numbers
        &:before,
        &:after {
            position: absolute;
            top: 0;
            content: '';
        }

        // Draws a line connecting steps
        &:before {
            width: 1px;
            background: $gray-lighter;
            content: '';
            left: 15px;
            height: 100%;
        }

        // No line after the last step
        &:last-of-type {
            &:before { display: none; }
        }

        // List number styles
        &:after {
            color: white;
            counter-increment: rover-process-steps;
            content: counter(rover-process-steps);
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            background: $aqua;
            border-radius: 100%;
            left: 0;
            box-shadow: 0 0 0 3px rgba($aqua, 0.25);
        }

        // Step completion and disabled states
        &.completed,
        &.disabled {

            .rover-process-step-title,
            .rover-process-step-desc {
                color: $text-muted;
                opacity: 0.7;
            }

            .rover-process-step-title {
                a,
                a:hover {
                    color: $text-muted;
                    text-decoration: none;
                }
            }
        }

        &.completed {
            // Activate green check
            &:after {
                content: '\f00c';
                font-family: 'RoverFontAwesome';
                background: $green-light;
                box-shadow: 0 0 0 4px rgba($green, 0.3);
            }
        }
    }
}
