.rover-slider {

    // Assuming use of horizontal sliders only
    .slider-horizontal {

        .slider-track {
            border-radius: 6px;
            background: $grey-light;
            box-shadow: none;
        }

        .slider-selection {
            background: $green-light;
            box-shadow: none;
            height: 2px;
            margin-top: -1px;
            top: 50%;
        }

        .slider-handle {
            background: white;
            border: 1px solid $border-color;
            opacity: 1;
            outline: none;

            @include xs-only {
                height: 28px;
                width: 28px;
                margin-left: -14px;
                margin-top: -8px;
            }

            &:hover,
            &:active {
                background: $green-light;
                border-color: $green;
                box-shadow: 0 0 0 4px rgba($green-light, .3);
            }
        }
    }

    .tooltip {
        display: none;
    }
}
