{% extends "two_column_body.html" %}
<!-- template faq.html -->
{% block title %}{% spaceless %}{% trans %}FAQ{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<div>
<h1 class="section-title">FAQ</h1>
<h2 class="first">What kinds of questions can I ask here?</h2>
<p>This is a space created by dog lovers for dog lovers. You’re free to ask any questions that are relevant to this community. Before you ask, please be sure to search for similar questions. You can search questions by their titles or keywords.</p>
<h2>Are there any questions I should avoid?</h2>
<p>Please avoid asking questions that aren’t relevant to this community, that are too subjective, or that are argumentative.</p>
<h2>How do I contribute a great answer?</h2>
<p>The {{ settings.APP_TITLE }} is a question and answer site. If you have an area of expertise and feel you can helpfully respond to someone’s question, please submit an answer! Keep in mind, this is not a discussion group. Please avoid holding long debates in your answers; they tend to dilute the essence of the Q&A. For brief discussions, you’re welcome to add comments.</p>
<h2>Who moderates this community?</h2>
<p>Short answer: you! This website is moderated by the users and overseen by Rover.com. Voting allows all our users to prove their expertise and earn moderation rights.</p>
<h2>How does voting work?</h2>
<p>When a question or answer is upvoted, the user who posted it will gain points, which are called "karma points." These points serve as a rough measure of the community trust in that user. Various moderation tasks are gradually assigned to users based on those points.</p>
<p>{% trans MAX_REP_GAIN_PER_USER_PER_DAY=settings.MAX_REP_GAIN_PER_USER_PER_DAY, REP_GAIN_FOR_RECEIVING_UPVOTE=settings.REP_GAIN_FOR_RECEIVING_UPVOTE, REP_LOSS_FOR_RECEIVING_DOWNVOTE=settings.REP_LOSS_FOR_RECEIVING_DOWNVOTE|absolute_value %}Looking for more detail? Here's an example. Say you ask an interesting question or leave a helpful answer — your input will be upvoted. On the other hand, if the answer is misleading, it will be downvoted. Each vote in favor will generate <strong>{{REP_GAIN_FOR_RECEIVING_UPVOTE}}</strong> points, and each vote against will subtract <strong>{{REP_LOSS_FOR_RECEIVING_DOWNVOTE}}</strong> points. There is a limit of <strong>{{MAX_REP_GAIN_PER_USER_PER_DAY}}</strong> points that can be accumulated for a question or answer per day. The table below explains reputation point requirements for each type of moderation task.{% endtrans %}
</p>

<table cellspacing="3" cellpadding="3">
    <tr>
        <th width="40px" style="text-align:right"></th>
        <th width="300px"></th>
    </tr>
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_VOTE_UP}}</strong></td>
        <td>{% trans %}upvote{% endtrans %}</td>
    </tr>
    {#
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_LEAVE_COMMENTS}}</strong></td>
        <td>{% trans %}add comments{% endtrans %}</td>
    </tr>
    #}
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_VOTE_DOWN}}</strong></td>
        <td>{% trans %}downvote{% endtrans %}</td>
    </tr>
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_ACCEPT_OWN_ANSWER}}</strong></td>
        <td>{% trans %} accept own answer to own questions{% endtrans %}</td>
    </tr>
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_RETAG_OTHERS_QUESTIONS}}</strong></td>
        <td>{% trans tags=settings.WORDS_TAG_PLURAL|lower %}change {{ tags }} on other's questions{% endtrans %}</td>
    </tr>
    {% if settings.WIKI_ON %}
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_EDIT_WIKI}}</strong></td>
        <td>{% trans %}edit community wiki questions{% endtrans %}</td>
    </tr>
    {% endif %}
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_EDIT_OTHERS_POSTS}}</strong></td>
        <td>{% trans %}edit any answer{% endtrans %}</td>
    </tr>
    <tr>
        <td class="faq-rep-item"><strong>{{settings.MIN_REP_TO_DELETE_OTHERS_COMMENTS}}</strong></td>
        <td>{% trans %}delete any comment{% endtrans %}</td>
    </tr>
</table>

<h2>Can other people edit my questions and answers?</h2>
<p>The goal of the Rover Community Q&A is to provide a space where dog lovers can connect with and learn from one another. Questions and answers are edited like wiki pages by experienced users of this site. This improves the overall quality of available answers.</p>
<h2>Still have questions?</h2>
<p>Please <a href='{{ask_question_url}}'>ask</a> your question and help us grow this community!</p>
</div>
<script type="text/javascript">
    //highlihts section if url has matching #anchor_name
    $(document).ready(function (){
        var hash = window.location.hash;
        if (hash.length > 1){
            $(hash).parent().addClass('highlight');
            window.location.hash = hash;
        }
    })
</script>
{% endblock %}
<!-- end template faq.html -->
