{% extends "two_column_body.html" %}
{% block title %}{% trans %}Getting Started{% endtrans %}{% endblock %}
{% block meta_description %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
<h1 class='section-title'>{% trans %}Getting Started{% endtrans %}</h1>
<h2>Community Guidelines</h2>
<em>Questions or answers that don’t meet the guidelines below are subject to removal by Rover.com moderators.</em>
<h3>General conduct</h3>
<p>This is a supportive and useful community for dog lovers. Be nice to one another and do your best to ask for and offer helpful tips. Use respectful language and refrain from putting others down.
</p>
<h3>Content</h3>
<p>Posts in this community must be on the topic of dogs or pet sitting. We will not tolerate objectionable language or images.</p>
<h3>Support questions</h3>
<p>Looking for information on Rover.com? If you have a customer support inquiry, please visit our help center <a href="https://support.rover.com/hc/en-us">here</a>. This community does not offer customer support for Rover.com.</p>
<h3>Spam and solicitation</h3>
<p>Please refrain from spamming or soliciting in this community.</p>

<p>Note: To report abuse, please click flag offensive under the question to alert our moderation team.</p>

<h2>How it Works</h2>
<h3>How questions, answers, and comments work</h3>
<p>This is the perfect place to ask and answer questions about dogs. Please keep your questions and answers succinct and to the point—and do your best to avoid long or open-ended discussions. We encourage everyone to use “question” space for asking and “answer” space for answering.</p>
<p>You’re also welcome to comment on any questions or answers. Your comments may be just what a Q&A needs to become helpful!</p>
<h3>Please search before asking your questions</h3>
<p>Good news: Your question may already have an answer! Type your question in the search bar to see whether a similar question has been asked before.</p>
<ul>
    <li>To search by title, enter [title: your text]</li>
    <li>To search by keyword, enter [tag: sometag] or #sometag</li>
    <li>To search by user, enter [user: somename], @somename, or @"some name"</li>
</ul>
<p>It’s also possible to click on specific <a href="{% url 'tags' %}">keywords</a> to help search for questions and answers related to your preferred topic.</p>
<h3>Voting</h3>
<p>Voting helps us select the best answers and thank our most helpful contributors. Please vote when you find useful information! It’s a huge help for our community.</p>
<h3>Other topics</h3>
<p>You can mention other users anywhere in the text by adding @ before their username. You’re also encouraged to follow users and conversations. Please report any inappropriate discussions by flagging them for our moderator.</p>
<p>Thank you! Enjoy the community!</p>
{% endblock %}
