@mixin rover-button($color: $aqua-btn-bg, $highlight-color: $aqua-btn-bg-highlight, $text-color: white, $text-shadow: true) {

    @include border-radius($border-radius-base);
    @include transition(background 100ms linear);

    background: $color;
    border-color: $highlight-color;
    color: $text-color;

    @if $text-shadow {
        text-shadow: 0px -1px 0 rgba(0,0,0,0.2);
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        box-shadow: none;
        color: $text-color;
        outline: none !important;
    }

    &:focus,
    &:active,
    &.active {
        background: darken($highlight-color, 15%);
    }

    &.btn-lg {
        @extend .btn-lg;
    }

    &.btn-md {
        @extend .btn-md;
    }

    &.btn-sm {
        @extend .btn-sm;
    }

    &.btn-xs {
        @extend .btn-xs;
    }

    &.text-left {
        text-align: left;
    }
    &.text-right {
        text-align: right;
    }

    &:hover,
    &:focus {
        background-color: darken($color, 5%);
    }

    &:active,
    &.active {
        background-color: darken($color, 10%);
    }
}

.rover-btn {
    @extend .btn;
}

.rover-btn-primary {
    @include rover-button();
}

.rover-btn-secondary {
    @include rover-button($color: $green-btn-bg, $highlight-color: $green-btn-bg-highlight);
}

.rover-btn-default {
    @include rover-button($text-shadow: false, $text-color: $gray-dark, $color: white, $highlight-color: lighten($border-color, 5%));
}

.rover-btn-facebook {
    @include rover-button($color: #4063b3, $highlight-color: #3c599d)
}

.rover-btn-twitter {
    @include rover-button($color: #55acee, $highlight-color: darken(#55acee, 5%))
}

.btn-right-icon {
    margin-left: 3px;
}

.btn-left-icon {
    margin-right: 3px;
}

.button-as-link {
    padding: 0;
    margin: 0;
    color: $link-color;
    border: none;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    display: inline;
    &:hover {
        text-decoration: underline;
        &:disabled, &.disabled {
            text-decoration: none;
        }
    }
}

.button-as-link::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@include xs-only {
    .btn-block:not(.button-as-link) {
        font-size: $font-size-large;
    }
}
