/* ==========================================================================
 * Rover Datepicker Styles
 * ========================================================================== */


/* Calendar Popup Styles
 * ========================================================================== */

.ui-datepicker {
    @include box-shadow(0 1px 0 2px rgba($grey, .3));
    border-color: $border-color;
    border-radius: 4px;

    // Calendar should be above everything until
    // we decide otherwise
    z-index: 9999 !important;

    .ui-datepicker-title {
        line-height: 2.2em;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        position: absolute;
        top: 4px;
        width: 2em;
        height: 2em;
        cursor: pointer;
        border: 1px solid transparent;
        color: $rover-green;

        &.ui-state-hover {
            border-color: none;
            background: none;
            color: $green;
        }

        span {
            font-size: 0;
            text-indent: 0;
            background: none;

            &:before {
                font-family: RoverFontAwesome;
                display: block;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    // Draw fontawesome chevrons
    .ui-datepicker-next {
        right: 4px;

        span:before {
            content: '\f054';
            text-align: right;
        }
    }
    .ui-datepicker-prev {
        left: 4px;

        span:before {
            content: '\f053';
            text-align: left;
        }
    }

    th {
        text-align: center;
        font-weight: normal;
        padding-bottom: .1em;
        font-size: 13px;
        border-bottom: 1px solid $grey-light;
    }

    td {
        border: 0;
        padding: 1px;

        span,
        a {
            font-weight: normal;
            padding: .25em;
            text-align: center;
            text-decoration: none;
        }

        span {
            color: $text-color;
        }
        a {
            color: $rover-green;

            &.ui-state-hover {
                background: $grey-light;
                color: $rover-green;
            }

            &.ui-state-active {
                background: $rover-green;
                color: white;
            }
        }
    }
}
