.image-upload {
    .image-upload-form {
        border: 1px solid $border-color;
        @include border-radius(5px);
    }
    .image-type-header {
        @include border-top-radius(5px);
        border-bottom: 1px solid $border-color;
        background: $grey-light;
        overflow: auto;
        a:hover {
            text-decoration: none;
        }
    }
    .placeholder {
        width: 100px;
        height: 100px;
        text-align: center;
        @include background-image(linear-gradient(white, #f5f5f5));

        .fa {
            color: $grey;
            line-height: 100px;
        }
    }
    .provider-image {
        border: 1px solid $border-color;
        display: inline-block;
        margin: 0 10px 10px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        width: 100px;
        height: 100px;

        .help-text {
            position: relative;
            top: -25px;
        }
        &:hover {
            .image-delete {
                display: block;
            }
        }
    }
    .placeholder-extra {
        display: none;
    }
    .photo-container {
        overflow: auto;
    }
    .upload-image-link {
        font-size: 1.2em;
    }
    .section-help {
        display: none;
        margin-top: 45px;
    }
    .popover {
        max-width: none;
    }
    .image-delete {
        position: absolute;
        top: 1px;
        right: 1px;
        background: white;
        display: none;
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
    }
    .image-title {
        position: absolute;
        bottom: 1px;
        right: 1px;
        color: white;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
    }
    .layered-comment {
        position: relative;
        .fa-ellipsis-h {
            position: absolute;
            top: 4px;
            left: 5px;
            font-size: 11px;
            color: $aqua-light;
        }
    }
    .drop-placeholder {
        border: 1px solid $border-color;
        display: inline-block;
        margin: 0 10px 10px;
        width: 100px;
        height: 100px;
    }
}
